

.heading {
    color: #500f8e;
    /*text-decoration :underline;*/
    text-decoration-style: solid;
    border-bottom: solid #500f8e;
    line-height: 2;
    margin-top: 0;
}

hr {
    border-top: 0px !important;
}


/*.line {
    border-bottom: solid blueviolet;
    border-right-width: 2px;
}*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
