.yellow {
    background-color: #5aaaff;
}

#buttons {
    margin: 0 auto;
    height: 15%;
}

#signupButton {
    width: 49.95%;
    color: #5AAAFF;
    text-align: center;
    height: 100%;
    margin: 0;
    border: none;
    padding: 10px;
    background-color: #C7DDF5;
}

#loginButton {
    width: 49.95%;
    color: white;
    text-align: center;
    height: 100%;
    margin: 0;
    border: none;
    padding:10px;
}

#signupButton:hover {
    background: #8C6ACC;
    color: whitesmoke;
    cursor: pointer;
}

#loginButton:hover {
    background: #8C6ACC;
    color: whitesmoke;
    cursor: pointer;
}

.container {
    max-width: 1250px;
}

#card {
    background: #F1F1F1;
    padding: 90px 90px 90px 90px;
}

.vertical-center {
   /* min-height: 100%;  Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/*#card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    border-radius: 1rem;
    height: 39%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
*/