.yellow {
    background-color: gold;
}

#buttons {
    margin: 0 auto;
    height: 50px;
    background: #2c3e50;
}

    #buttons > p {
        width: 49.95%;
        float: left;
        color: white;
        text-align: center;
        padding-top: 25px;
        height: 100%;
        margin: 0;
    }

        #buttons > p:hover {
            background: #f1c40f;
            color: #2c3e50;
            cursor: pointer;
        }


.card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    border-radius: 1rem;
    height: 500px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card > img {
    width: 50%;
}
